.ctVideos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    gap: 20px;
}

.ctVideo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.ctVideo iframe {
    width: 500px;
    height: 300px;
    padding-bottom: 10px;
}

.separator {
    margin-top: 70px;
    width: 100%;
    height: 5px;
    background: var(--gradient-color);
}

@media (max-width: 430px) {
    .ctVideo iframe {
        width: 350px;
        height: 200px;
    }
}