.ctHome {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.txtName {
    padding: 50px;
    filter: var(--filter-svg);
}

.txtStart {
    width: 50%;
    text-align: justify;
    padding: 10px 0;
    color: var(--dark-color);
    font-size: 20px;
}

.txtBio {
    width: 80vw;
    text-align: justify;
    padding: 10px 0;
    color: var(--dark-color);
    font-size: 20px;
}

.ctDisc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}

.ctDisc img {
    width: 50%;
}


/* Media Queries */

@media (max-width: 1200px) {
    .ctHome {
        flex-direction: column-reverse;
        align-items: center;
    }
    .txtStart {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .ctHome,
    .txtBio {
        width: 90vw;
    }
    .ctDisc {
        flex-direction: column;
        width: 100vw;
    }
    .ctDisc img {
        width: 100%;
    }
    .txtStart,
    .txtBio {
        font-size: 16px;
    }
}